<h1>
  Welcome to {{ title }}!
</h1>

dom: <input type="text" [value]="title"> <br>
attr: <input type="text" value={{title}}> <br>
two way: <input type="text" [(ngModel)]="title"> <br>

<p [innerText]="title"></p>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="doClick()">Click Me
    </button>

  </div>
</div>

<hr>
<button (click)="toggle()"> Show/hide

</button>
<ul *ngIf="show">
  <li *ngFor="let value of values"> {{value|uppercase}}</li>
</ul>

<hr>
<input type="text" #theField>
<button (click)="log(theField.value)">log</button>

<p>{{theField.value}}</p>