<form>
    <div class="form-group">
        <input type="text" placeholder="Id" [(ngModel)]="model.id" name="id" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Action" [(ngModel)]="model.action" name="action" />
    </div>
    <div class="form-group">
        <select name="place" class="form-control" ngModel [(ngModel)]="model.place" name="place">
            <option *ngFor="let place of places" [value]="place">{{place}}</option>
        </select>
    </div>
</form>