<label>Server Name</label>
<!-- <input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)"> -->

<input 
type="text" 
class="form-control"
[(ngModel)] = "serverName">

<p>{{serverName}}</p>
<button class = "btn btn-primary" 
[disabled] = "!allowNewServer"
(click)="onCreateServer()" >Add Server</button>
<!--<p [innerText] = "allowNewServer"></p> -->
<p *ngIf ="serverCreated"> Server was created, server name is {{serverName}}</p>

<!-- <p>{{serverCreationStatus}}</p> -->
<app-server *ngFor="let server of servers"></app-server>

<!-- Add a input field which updates a property ('username') via Two-Way-Binding: -->
<hr>
<label>Username</label>
<input 
type="text" 
class="form-control"
[(ngModel)] = "username">

<!-- Output the username property via String Interpolation (in a paragraph below the input) : -->
<p>{{username}}</p>

<!--Add a button  which may only be clicked if the username is NOT an empty string: -->
<button class="btn btn-primary" 
[disabled] = "username ===''"
(click)="username = ''">Empty Username</button>


<!--Add a button  which says 'Display Details' -->
<hr>
<!--<button class = "btn btn-primary" (click)="detailsDisplayed = !detailsDisplayed">Display Details</button>-->
<button class = "btn btn-primary" (click)="onToggleDisplay()">Display Details</button>

<!--Add a paragraph with any content of your choice;
    Toggle (C'est switcher entre 2 (ou plusieurs ?) options, basculer...)
    the displaying of that paragraph with the button created in the first step: -->
<p *ngIf = "detailsDisplayed">Secret Password = lasagna</p>

<!--Log all button clicks on an array and output that array below the secret paragraph-->
<p *ngFor= "let buttonClick of buttonClicks"
[ngStyle] = "{backgroundColor: buttonClick >=5 ? 'blue' : 'transparent'}"
[ngClass] = "{buttonClickBackground: buttonClick >=5}"
>{{buttonClick}}</p>

<!--Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white class (ngClass):-->

